<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h2>{{user && user.upn || "No user"}}</h2>
    <h5>Token info:</h5>
    <textarea
      style="height: 200px; width: 100%; display: block"
      [value]="getTokenInfoJson()"
      readonly
    ></textarea>
    <h5>Intune MAM Version: {{version && version.version || "No version"}}</h5>
    <h5>Group name: {{groupName && groupName.value || "No group name"}}</h5>
    <h5>Policy:</h5>
    <textarea
      style="height: 200px; width: 100%; display: block"
      [value]="getPolicyJson()"
      readonly
    ></textarea>
    <h5>App Config:</h5>
    <textarea
      style="height: 200px; width: 100%; display: block"
      [value]="getAppConfigJson()"
      readonly
    ></textarea>
  </div>
</ion-content>
